spring:
  application:
    name: history-service
  main:
    web-application-type: reactive

server:
  port: ${PORT:8080}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true

ai:
  service:
    url: ${AI_BASE_URL:https://vietnamhistorydataset-production.up.railway.app}

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.springframework.web.reactive.function.client.WebClient: DEBUG
